VITE_SUPABASE_URL=https://nsmzfzdvesacindbgkdq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zbXpmemR2ZXNhY2luZGJna2RxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjc3NTM2OSwiZXhwIjoyMDY4MzUxMzY5fQ.NFgv5JdJu65MdJn0jXKUGOK6Ab-Gq69PcbRUHJ4XedQ