VITE_SUPABASE_URL=https://nsmzfzdvesacindbgkdq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zbXpmemR2ZXNhY2luZGJna2RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI3NzUzNjksImV4cCI6MjA2ODM1MTM2OX0.ntOzjMPC8QU_pOzrkpcMPcMzEArao3BQ-7iVyGeamR8