VITE_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zbXpmemR2ZXNhY2luZGJna2RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI3NzUzNjksImV4cCI6MjA2ODM1MTM2OX0.ntOzjMPC8QU_pOzrkpcMPcMzEArao3BQ-7iVyGeamR8
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zbXpmemR2ZXNhY2luZGJna2RxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjc3NTM2OSwiZXhwIjoyMDY4MzUxMzY5fQ.NFgv5JdJu65MdJn0jXKUGOK6Ab-Gq69PcbRUHJ4XedQ